<p id="notice"><%= notice %></p>

<h1>Listing Blogs</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th># of Comments</th>
      <th>Better # of Comments</th>
      <th>Last Comment</th>
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= link_to blog.title, fast_blog_path(blog) %></td>
        <td><%= blog.comments.length %></td>
        <td><%= blog.comments.size # or blog.comments_count
            %></td>
        <td><%= blog.last_comment&.body %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Blog', new_fast_blog_path %>
